# Ocultar TODOS los scripts de Python
*.py

# Ocultar la carpeta de cache de Python 
__pycache__/

# Ocultar la carpeta de archivos de audio temporales
temp_separated/

# Ocultar archivos de entorno virtual
venv/
.venv/
*venv/

# Ocultar archivos de claves API y secretos 
.env
*.env
secrets.toml

# Ocultar archivos de sistema operativo
.DS_Store
Thumbs.db
